a,
span {
  text-decoration: none;
  color: #bbb;
  font-size: 2rem;
  cursor: pointer;
  &:hover {
    color: #eee;
  }

  &.disabledColor {
    color: #777 !important;
    margin-right: 0 !important;
    cursor: default !important;
  }
}
